*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  widows: 100%;
  height: auto;
}
.container {
  max-width: 1150px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

/* muhammadzohid */

/* muhammadzohid end */
/* ------------------------- */
/* muhiddin */

/* muhiddin end */
/* ---------------------- */

/* ogiloy */
/* ogiloy end */
/* ---------------------- */
/* muborak */
/* muborak end */
/* ------------------ */
/* nurillo aka  */
/* nurillo aka end */
