@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-700.woff") format("woff");
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.container {
  max-width: 1150px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

/* muhammadzohid */

/* muhammadzohid end */
/* ------------------------- */
/* muhiddin */

/* muhiddin end */
/* ---------------------- */

/* ogiloy */
/* ogiloy end */
/* ---------------------- */
/* muborak */
/* muborak end */
/* ------------------ */
/* nurillo aka  */
/* nurillo aka end */
